.home {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .hero {
        width: calc(100% - 2rem);
        margin: 1rem;
        height: 20rem;
        border-radius: 10px;
        background-image: url(../res/plundur/cover.gif);
        background-position: center;
        background-size: cover;
        overflow: hidden;

        .hero-cont {
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #000000b0, #00000000);
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5rem;

            .game-head {
                display: flex;
                align-items: flex-end;
                gap: 1rem;

                img{
                    height: 3.5rem;
    
                    &:first-child {
                        height: 4.5rem;
                    }
                }
            }

            .game-info {
                margin-left: 4.8rem;
                margin-top: 1rem;
                max-width: 28rem;

                .info {
                    font-weight: 300;
                    letter-spacing: 1px;
                    line-height: 1.8rem;
                    font-size: .95rem;
                }

                .play-btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: var(--text);
                    

                    background: var(--light-accent);
                    width: 7.5rem;
                    font-size: 1.2rem;

                    font-weight: 600;
                    letter-spacing: 2px;

                    padding: .3rem 0rem;
                    padding-right: .4rem;
                    margin-top: 1rem;
                    user-select: none;
                    cursor: pointer;
                    border-radius: 7px;

                    transition: background 200ms;

                    i {
                        font-size: 2.5rem;
                    }

                    &:hover {
                        background: var(--sub-background);
                    }

                    &:active {
                        transform: scale(.95);
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 652px) {
    .home {
        .hero {
            width: calc(100% - 2rem);
            margin: 1rem;
            height: auto;
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            overflow: hidden;

            .hero-cont {
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, #000000b0, #00000000);
                padding: 1.5rem 0rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                // background: blue;

                .game-head {
                    // background: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    padding: 0;
                    margin: 0;
                

                    img{
                        max-height: 2rem;
        
                        &:first-child {
                            max-height: 3.1rem;
                        }
                    }
                }

                .game-info {
                    margin-left: 0rem;
                    margin-top: 1rem;
                    max-width: 28rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .info {
                        text-align: center;
                        margin: 0rem 1rem;
                    }

                    .play-btn {
                        width: 6rem;
                        font-size: 1rem;
                        i {
                            font-size: 2rem;
                        }
                    }
                }

            }
        }
    }
}