

:root {
  --background: #0E0E0E;
  --sub-background: #161616;
  --sub-outline: #1C1C1C;

  --accent: #FFA452;
  --light-accent: #FFA452;
  --sub-accent: #5297FF;

  --text: #FFFFFF;
  --font: 'Poppins', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}